input,
select,
button {
    background-color: var(--fg);
    border-radius: var(--br);
    border: 1px solid var(--border);
    height: 30px;
    width: 100px;
    font-size: var(--font2);
    padding: 0px 5px;
}
button {
    width: auto;
    height: 32px;
    padding: 0px 15px;
    cursor: pointer;
    transition: all 0.3s ease;
}
button:hover {
    background-color: var(--bg);
    /* transform: scale(0.95); */
}

.form1 select,
.form1 input,
.form1 p {
    width: 100%;
    margin: 0;
    padding: 0;
}

.form1 p {
    font-size: var(--font1);
}

.form1 .form-wrapper {
    width: max(30%, 150px);
}
.form1 button {
    margin: auto;
}
.form1 .spacer {
    width: 100%;
}
