@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --headerheight: 60px;
    --br: 4px;

    --font1: 12px;
    --font2: 16px;
    --font3: 20px;
    --font4: 32px;
    --font5: 50px;
}

body {
    /* font-family: "Raleway", sans-serif; */
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

#app {
    display: flex;
    flex-direction: column;
    width: 100vw;
    min-height: 100vh;
}

main {
    margin: auto;
    margin-top: calc(var(--headerheight) + 10px);
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
}

thead th {
    background-color: #323233 !important;
    color: #fff !important;
}
thead th:not(.sticky) {
    position: relative !important;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
    appearance: textfield;
}
